/* You can add global styles to this file, and also import other style files */
body{
    font-size: 12px;
}
p,h3,figure{
    padding: 0px;
    margin: 0px;
}
ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    float: left;
}
a{
    color:#000;
    text-decoration:none;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.txt{
    padding: 5px;
    outline: none;
}
.btn{
    width: 80px;
    height: 29px;
    line-height: 28px;
    background-color:eee;
    outline: none;
    float: right;
    margin-right: 15px;
}